<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
          <img src="../images/train.png" width="25" height="24" class="d-inline-block align-text-top">
          Ticketac
        </a>
        <div class="navbar-text" id="navbarText">
          <a href="/users/logout"><span class="navbar-text navbar-connection red">Déconnection</span></a>
          <a href="/last-trips"><span class="navbar-brand navbar-trip">My last trips</span></a>
        </div>
    </div>
</nav>